@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.local {
    @include d-flex($justifyContent: space-between);
    padding: 0px 20px 0px 0px;
    margin-top: 8px;

    &__main {
        background: $white;
        border-radius: 16px;
        width: 900px;
        height: 330px;
        color: $black;
        @include d-flex(null, space-between, null);
        padding: 10px 20px 20px 20px;
        transition: 0.7s;
    }

    &__black {
        background: $white;
        border-radius: 16px;
        width: 900px;
        height: 330px;
        color: $black;
        @include d-flex(null, space-between, null);
        padding: 10px 20px 20px 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid #c2c2c2;
        transition: 0.7s;
    }

    &__info {
        width: 300px;
        height: 330px;
        background: $white;
        border-radius: 16px;
        @include d-flex(null, center, center);
        text-align: center;
        transition: 0.7s;
    }

    &__info__white {
        width: 300px;
        height: 330px;
        background: $white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid #c2c2c2;
        border-radius: 16px;
        @include d-flex(null, center, center);
        text-align: center;
        transition: 0.7s;
    }

    &__celsiusMax {
        font-size: 3rem;
    }

    p {
        margin-top: 0px;
    }

    &__feels {
        font-size: 1rem;
        font-weight: 600;
    }

    &__feelsLike {
        font-size: 1.05rem;
    }

    &__sunriseCard {
        margin-top: 50px;
    }

    &__sunriseCard, &__suset{
        @include d-flex( null, null, center);
        gap: 10px;
        margin-bottom: 10px;
    }

    &__sunsetText {
        margin-top: -10px;
    }

    &__information {
        display: flex;
        gap: 40px;
        margin-bottom: 45px;
    }

    &__sunrise, &__imageSunset, &__imageshumidiatly, &__imagePressure, &__imageWind, &__imageSea {
        width: 60px;
        height: 60px;
    }

    &__images {
        text-align: center;
        font-size: 2rem;
        margin-top: 20px;
    }

    &__container {
        text-align: center;
    }

    &__time {
        font-size: 2.5rem;
    }

    &__data {
        font-size: 1.7rem;
    }

}