.form {
    display: flex;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;
    }

    &__input {
        width: 400px;
        outline: none;
        display: flex;
        align-items: center;
    }

    &__searchInupt {
        display: flex;
        background: white;
        border-radius: 10px;
        padding: 8px;
        margin-right: 15px;
    }

    &__react {
        width: 50px;
        height: 50px;
    }

    &__search {
        width: 20px;
        height: 20px;
        margin-right: 10px
    }

    &__text {
        margin: 0px 30px;
        color: white;
        font-size: 1.4rem;
    }

    &__btn {
        color: white;
        background: #58A5FF;
        border-radius: 10px;
        padding: 11px 30px;
        cursor: pointer;
    }

    &__list {
        position: absolute;
        background: white;
        padding: 10px 30px 20px 30px;
        line-height: 30px;
        border-radius: 12px;
        z-index: 110;
        width: 445px;
    }

    &__button {
        cursor: pointer;
        background: none;
    }
}