@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.chart {
    border-radius: 25px;
    color: $white;
    padding: 20px 0px;

    &__widget {
        height: 380px;
        width: 900px;
        background: $white;
        border-radius: 16px;
        display: inline-block;
        align-items: center;
        transition: 0.7s;
    }

    &__white {
        height: 380px;
        width: 900px;
        background: $white;
        border-radius: 16px;
        display: inline-block;
        align-items: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid #c2c2c2;
        transition: 0.7s;
    }

    &__day {
        @include d-flex(null, space-between, null);
        margin: 30px 30px 20px 30px;
        color: $black;
        font-weight: 600;
    }

    &__line {
        height: 300px;
        width: 910px;
        padding: 0px 25px ;
    }

}