@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.widget {
    border-radius: 25px;
    color: $black;
    @include d-flex(null, space-between, null);
    padding: 20px 0px;
    height: 500px;
    margin-top: 9px;

    &__local {
        display: inline-block;
    }

    &__card {
        display: inline-block;
        width: 300px;
        height: 380px;
        background: $white;
        border-radius: 16px;
        padding: 15px 10px 15px 25px;
        line-height: 45px;
        margin: 20px;
        margin-left: 60px;
        transition: 0.7s;
    }

    &__white {
        display: inline-block;
        width: 300px;
        height: 380px;
        background: $white;
        border-radius: 16px;
        padding: 15px 10px 15px 25px;
        line-height: 45px;
        margin: 20px;
        margin-left: 60px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid #c2c2c2;
        transition: 0.7s;
    }

    &__info {
        color: $black;
        @include d-flex(null, space-between, center);
        margin: 10px 10px 10px 0px;
        text-align: center;
    }

    p {
        margin: 0;
    }

    &__city {
        cursor: pointer;
    }

    &__day {
        text-align: left;
        width: 50px;
    }

    &__temp {
        width: 60px;
        @include d-flex(null, space-between, null);
    }

    &__max {
        width: 30px;
        text-align: right;
    }

    &__min {
        color: rgba(0, 0, 0, 0.68);
    }

}