@use './media.scss' as *;

.header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem 1.5rem 3rem;
    background: #313131;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}