@use './media.scss' as *;
@import '../../styles/mixins.scss';

.header {
    @include d-flex(null, space-between, center);
    padding: 1.5rem 2rem 1.5rem 3rem;
    background: #313131;
    margin-bottom: 15px;
    width: 100%;
}