.window {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    padding-top: 140px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    &__container {
        background: #242323;
        border-radius: 20px;
        width: 900px;
        text-align: center;
        height: 600px;
        color: white;
    }

    &__text {
        margin-top: 200px;
    }

    &__warning {
        color: red;
        margin-bottom: 20px;
    }

    &__btnFirst {
        background: rgba(255, 255, 255, 0.38);
        color: white;
        margin: 50px 0px 0px 20px;
        padding: 7px 10px;
        border-radius: 12px;
        text-align: center;
        width: 200px;
        cursor: pointer;
    }

    &__btnSecond {
        background: #2B6CDE;
        color: white;
        margin: 50px 0px 0px 20px;
        padding: 7px 10px;
        border-radius: 12px;
        text-align: center;
        width: 200px;
        cursor: pointer;
    }
}
