/* Links */
@use './styles/fonts';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p+p {
    margin-top: 1em;
}

ul {
    list-style: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

/* Styles main settings */

html, body {
  /* height: 100%; */
    min-width: 320px;
}

body {
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px;
    background: #242323;
}

body::-webkit-scrollbar {
    display: none;
}

.main {
    flex: 1 1 auto;
}